In [1]:
import urllib.parse
import pymongo
import pandas as pd
import jdk

# Encode the username and password using urllib.parse.quote_plus
username = urllib.parse.quote_plus("rithvikdonnipadu")
password = urllib.parse.quote_plus("RkdHyd@1499Mongo")

# Construct the connection URI with the escaped username and password
uri = f"mongodb+srv://{username}:{password}@cluster0.texad.mongodb.net/?connectTimeoutMS=30000"

# Connect to MongoDB Atlas
client = pymongo.MongoClient(uri)

In [2]:
db = client['MSDS697']
crimes = db['Project1']
crime_counts_by_type = db['crime_counts_by_type']
total_crimes_by_year = db['total_crimes_by_year']

In [14]:
cursor = crime_counts_by_type.find({})
crimes_type = pd.DataFrame(list(cursor))
print(crimes_type)

                         _id                         Crime_Type      Count
0   65e11110f456794d82252178                           BURGLARY   430541.0
1   65e11110f456794d82252179                          RITUALISM       24.0
2   65e11110f456794d8225217a                  DOMESTIC VIOLENCE        1.0
3   65e11110f456794d8225217b   INTERFERENCE WITH PUBLIC OFFICER    18867.0
4   65e11110f456794d8225217c                       PROSTITUTION    69981.0
5   65e11110f456794d8225217d                            ROBBERY   301872.0
6   65e11110f456794d8225217e         OFFENSE INVOLVING CHILDREN    57365.0
7   65e11110f456794d8225217f                           STALKING     5224.0
8   65e11110f456794d82252180                   PUBLIC INDECENCY      200.0
9   65e11110f456794d82252181                              ARSON    13689.0
10  65e11110f456794d82252182                       INTIMIDATION     4856.0
11  65e11110f456794d82252183                         KIDNAPPING     7333.0
12  65e11110f456794d82252184                MOTOR VEHICLE THEFT   398539.0
13  65e11110f456794d82252185           OTHER NARCOTIC VIOLATION      149.0
14  65e11110f456794d82252186                           HOMICIDE    13071.0
15  65e11110f456794d82252187                            ASSAULT   526369.0
16  65e11110f456794d82252188                     NON - CRIMINAL       38.0
17  65e11110f456794d82252189                    CRIMINAL DAMAGE   912250.0
18  65e11110f456794d8225218a                        SEX OFFENSE    31937.0
19  65e11110f456794d8225218b                          OBSCENITY      854.0
20  65e11110f456794d8225218c                              THEFT  1690886.0
21  65e11110f456794d8225218d                CRIM SEXUAL ASSAULT    27528.0
22  65e11110f456794d8225218e                  HUMAN TRAFFICKING      105.0
23  65e11110f456794d8225218f   NON-CRIMINAL (SUBJECT SPECIFIED)        9.0
24  65e11110f456794d82252190                          NARCOTICS   752144.0
25  65e11110f456794d82252191                           GAMBLING    14631.0
26  65e11110f456794d82252192                            BATTERY  1460186.0
27  65e11110f456794d82252193            CRIMINAL SEXUAL ASSAULT     8257.0
28  65e11110f456794d82252194                      OTHER OFFENSE   496976.0
29  65e11110f456794d82252195                  WEAPONS VIOLATION   113476.0
30  65e11110f456794d82252196                 DECEPTIVE PRACTICE   359796.0
31  65e11110f456794d82252197               LIQUOR LAW VIOLATION    15051.0
32  65e11110f456794d82252198  CONCEALED CARRY LICENSE VIOLATION     1245.0
33  65e11110f456794d82252199                       NON-CRIMINAL      184.0
34  65e11110f456794d8225219a                  CRIMINAL TRESPASS   218161.0
35  65e11110f456794d8225219b             PUBLIC PEACE VIOLATION    53040.0

In [4]:
cursor = total_crimes_by_year.find({})
crimes_year = pd.DataFrame(list(cursor))
print(crimes_year)

                         _id  Year  Total_Crimes
0   65e1135af456794d82254a96  2011      352010.0
1   65e1135af456794d82254a97  2012      336335.0
2   65e1135af456794d82254a98  2009      392835.0
3   65e1135af456794d82254a99  2020      212332.0
4   65e1135af456794d82254a9a  2006      448185.0
5   65e1135af456794d82254a9b  2002      486815.0
6   65e1135af456794d82254a9c  2001      485904.0
7   65e1135af456794d82254a9d  2019      261427.0
8   65e1135af456794d82254a9e  2024       29506.0
9   65e1135af456794d82254a9f  2008      427195.0
10  65e1135af456794d82254aa0  2018      268967.0
11  65e1135af456794d82254aa1  2007      437090.0
12  65e1135af456794d82254aa2  2015      264825.0
13  65e1135af456794d82254aa3  2016      269869.0
14  65e1135af456794d82254aa4  2014      275816.0
15  65e1135af456794d82254aa5  2013      307557.0
16  65e1135af456794d82254aa6  2017      269142.0
17  65e1135af456794d82254aa7  2010      370527.0
18  65e1135af456794d82254aa8  2005      453777.0
19  65e1135af456794d82254aa9  2003      475987.0
20  65e1135af456794d82254aaa  2023      261021.0
21  65e1135af456794d82254aab  2021      209069.0
22  65e1135af456794d82254aac  2022      239216.0
23  65e1135af456794d82254aad  2004      469428.0

In [15]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.types import *

# Create SparkSession
spark = SparkSession.builder \
    .appName("Pandas to Spark SQL") \
    .getOrCreate()

# Assuming you have retrieved data from MongoDB using PyMongo
cursor = total_crimes_by_year.find({})

# Convert MongoDB cursor to DataFrame
crimes_year = pd.DataFrame(list(cursor))

# Convert data types and handle errors
crimes_year["_id"] = crimes_year["_id"].astype(str)
crimes_year["Year"] = pd.to_numeric(crimes_year["Year"], errors='coerce').astype(str)
crimes_year["Total_Crimes"] = pd.to_numeric(crimes_year["Total_Crimes"], errors='coerce').astype(float)

# Define the schema explicitly
schema = StructType([
    StructField("_id", StringType(), True),
    StructField("Year", StringType(), True),
    StructField("Total_Crimes", FloatType(), True)
])

# Create Spark DataFrame from Pandas DataFrame
spark_df = spark.createDataFrame(crimes_year)

# Register the DataFrame as a temporary table/view
spark_df.createOrReplaceTempView("crimes_year")

# 2. Select records where Total_Crimes is greater than 350000
result = spark.sql("SELECT * FROM crimes_year WHERE Total_Crimes > 350000")
result.show()

# Repeat for other queries as needed

# Don't forget to stop the SparkSession when you're done
spark.stop()

+--------------------+----+------------+
|                 _id|Year|Total_Crimes|
+--------------------+----+------------+
|65e1135af456794d8...|2011|    352010.0|
|65e1135af456794d8...|2009|    392835.0|
|65e1135af456794d8...|2006|    448185.0|
|65e1135af456794d8...|2002|    486815.0|
|65e1135af456794d8...|2001|    485904.0|
|65e1135af456794d8...|2008|    427195.0|
|65e1135af456794d8...|2007|    437090.0|
|65e1135af456794d8...|2010|    370527.0|
|65e1135af456794d8...|2005|    453777.0|
|65e1135af456794d8...|2003|    475987.0|
|65e1135af456794d8...|2004|    469428.0|
+--------------------+----+------------+

In [19]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.types import *

# Create SparkSession
spark = SparkSession.builder \
    .appName("Pandas to Spark SQL") \
    .getOrCreate()

# Assuming you have retrieved data from MongoDB using PyMongo
cursor = total_crimes_by_year.find({})

# Convert MongoDB cursor to DataFrame
crimes_year = pd.DataFrame(list(cursor))

# Convert data types and handle errors
crimes_year["_id"] = crimes_year["_id"].astype(str)
crimes_year["Year"] = pd.to_numeric(crimes_year["Year"], errors='coerce').astype(str)
crimes_year["Total_Crimes"] = pd.to_numeric(crimes_year["Total_Crimes"], errors='coerce').astype(float)

# Create Spark DataFrame from Pandas DataFrame
spark_df = spark.createDataFrame(crimes_year)

# Register the DataFrame as a temporary table/view
spark_df.createOrReplaceTempView("crimes_year")

# Now you can execute SQL queries on the registered table/view
# For example:
# 1. Select all records
result = spark.sql("SELECT * FROM crimes_year")
result.show()

# 2. Select records where Total_Crimes is greater than 50000
result = spark.sql("SELECT * FROM crimes_year WHERE Total_Crimes > 50000")
result.show()

import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.types import *

# Create SparkSession
spark = SparkSession.builder \
    .appName("Pandas to Spark SQL") \
    .getOrCreate()

# Assuming you have retrieved data from MongoDB using PyMongo
cursor = total_crimes_by_year.find({})

# Convert MongoDB cursor to DataFrame
crimes_year = pd.DataFrame(list(cursor))

# Convert data types and handle errors
crimes_year["_id"] = crimes_year["_id"].astype(str)
crimes_year["Year"] = pd.to_numeric(crimes_year["Year"], errors='coerce').astype(str)
crimes_year["Total_Crimes"] = pd.to_numeric(crimes_year["Total_Crimes"], errors='coerce').astype(float)

# Create Spark DataFrame from Pandas DataFrame
spark_df = spark.createDataFrame(crimes_year)

# Register the DataFrame as a temporary table/view
spark_df.createOrReplaceTempView("crimes_year")

# Now you can execute SQL queries on the registered table/view
# For example:
# 1. Select all records
result = spark.sql("SELECT * FROM crimes_year")
result.show()

# 2. Select records where Total_Crimes is greater than 50000
result = spark.sql("SELECT * FROM crimes_year WHERE Total_Crimes > 50000")
result.show()

+--------------------+----+------------+
|                 _id|Year|Total_Crimes|
+--------------------+----+------------+
|65e1135af456794d8...|2011|    352010.0|
|65e1135af456794d8...|2012|    336335.0|
|65e1135af456794d8...|2009|    392835.0|
|65e1135af456794d8...|2020|    212332.0|
|65e1135af456794d8...|2006|    448185.0|
|65e1135af456794d8...|2002|    486815.0|
|65e1135af456794d8...|2001|    485904.0|
|65e1135af456794d8...|2019|    261427.0|
|65e1135af456794d8...|2024|     29506.0|
|65e1135af456794d8...|2008|    427195.0|
|65e1135af456794d8...|2018|    268967.0|
|65e1135af456794d8...|2007|    437090.0|
|65e1135af456794d8...|2015|    264825.0|
|65e1135af456794d8...|2016|    269869.0|
|65e1135af456794d8...|2014|    275816.0|
|65e1135af456794d8...|2013|    307557.0|
|65e1135af456794d8...|2017|    269142.0|
|65e1135af456794d8...|2010|    370527.0|
|65e1135af456794d8...|2005|    453777.0|
|65e1135af456794d8...|2003|    475987.0|
+--------------------+----+------------+
only showing top 20 rows

+--------------------+----+------------+
|                 _id|Year|Total_Crimes|
+--------------------+----+------------+
|65e1135af456794d8...|2011|    352010.0|
|65e1135af456794d8...|2012|    336335.0|
|65e1135af456794d8...|2009|    392835.0|
|65e1135af456794d8...|2020|    212332.0|
|65e1135af456794d8...|2006|    448185.0|
|65e1135af456794d8...|2002|    486815.0|
|65e1135af456794d8...|2001|    485904.0|
|65e1135af456794d8...|2019|    261427.0|
|65e1135af456794d8...|2008|    427195.0|
|65e1135af456794d8...|2018|    268967.0|
|65e1135af456794d8...|2007|    437090.0|
|65e1135af456794d8...|2015|    264825.0|
|65e1135af456794d8...|2016|    269869.0|
|65e1135af456794d8...|2014|    275816.0|
|65e1135af456794d8...|2013|    307557.0|
|65e1135af456794d8...|2017|    269142.0|
|65e1135af456794d8...|2010|    370527.0|
|65e1135af456794d8...|2005|    453777.0|
|65e1135af456794d8...|2003|    475987.0|
|65e1135af456794d8...|2023|    261021.0|
+--------------------+----+------------+
only showing top 20 rows

+--------------------+----+------------+
|                 _id|Year|Total_Crimes|
+--------------------+----+------------+
|65e1135af456794d8...|2011|    352010.0|
|65e1135af456794d8...|2012|    336335.0|
|65e1135af456794d8...|2009|    392835.0|
|65e1135af456794d8...|2020|    212332.0|
|65e1135af456794d8...|2006|    448185.0|
|65e1135af456794d8...|2002|    486815.0|
|65e1135af456794d8...|2001|    485904.0|
|65e1135af456794d8...|2019|    261427.0|
|65e1135af456794d8...|2024|     29506.0|
|65e1135af456794d8...|2008|    427195.0|
|65e1135af456794d8...|2018|    268967.0|
|65e1135af456794d8...|2007|    437090.0|
|65e1135af456794d8...|2015|    264825.0|
|65e1135af456794d8...|2016|    269869.0|
|65e1135af456794d8...|2014|    275816.0|
|65e1135af456794d8...|2013|    307557.0|
|65e1135af456794d8...|2017|    269142.0|
|65e1135af456794d8...|2010|    370527.0|
|65e1135af456794d8...|2005|    453777.0|
|65e1135af456794d8...|2003|    475987.0|
+--------------------+----+------------+
only showing top 20 rows

+--------------------+----+------------+
|                 _id|Year|Total_Crimes|
+--------------------+----+------------+
|65e1135af456794d8...|2011|    352010.0|
|65e1135af456794d8...|2012|    336335.0|
|65e1135af456794d8...|2009|    392835.0|
|65e1135af456794d8...|2020|    212332.0|
|65e1135af456794d8...|2006|    448185.0|
|65e1135af456794d8...|2002|    486815.0|
|65e1135af456794d8...|2001|    485904.0|
|65e1135af456794d8...|2019|    261427.0|
|65e1135af456794d8...|2008|    427195.0|
|65e1135af456794d8...|2018|    268967.0|
|65e1135af456794d8...|2007|    437090.0|
|65e1135af456794d8...|2015|    264825.0|
|65e1135af456794d8...|2016|    269869.0|
|65e1135af456794d8...|2014|    275816.0|
|65e1135af456794d8...|2013|    307557.0|
|65e1135af456794d8...|2017|    269142.0|
|65e1135af456794d8...|2010|    370527.0|
|65e1135af456794d8...|2005|    453777.0|
|65e1135af456794d8...|2003|    475987.0|
|65e1135af456794d8...|2023|    261021.0|
+--------------------+----+------------+
only showing top 20 rows